*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0px;
	background: url(../img/fondo.jpg);
	background-size: 100%;
}

.my-photo img{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 5px solid #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.my-photo p {
	color: #fff;
	text-align: center;
	margin-top: 35px;
	font-family: 'lobster';
}

.my-name{
	font-size: 35px;
}

.city{
	font-size: 27px;
}